/* основной цвет текста  #757575 */
/* вторичный цвет текста - заголовки #212121 */
/* белый #FFFFFF */
/* белый цвет текста с прозрачностью 60% rgba(255, 255, 255, 0.6) */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* фон футера и героя #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-footer-bcg-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --text-color-transparency: rgba(255, 255, 255, 0.6);
}

/* основа */
body {
  color: var(--primary-text-color);
  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

/* Заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title,
.section-title {
  color: var(--title-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

/* лого шапки*/
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

/* Навигация и контакты */
.header-flex,
.header-nav {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-list,
.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
}

.header-contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.header-nav-link.current {
  color: var(--accent-color);
}

/* Герой */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-footer-bcg-color);
  text-align: center;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка героя */
.hero-button {
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Особенности */
.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

/* Чем мы занимаемся */
.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.command {
  background-color: var(--secondary-background-color);
}

.command-list {
  display: flex;
  text-align: center;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command-text {
  font-size: 16px;
  line-height: 1.19;
}

.command-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Кнопки портфолио 2 страница */
.content-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.content-set-el:not(:last-child) {
  margin-right: 8px;
}

.content-set-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-decoration: none;
}

.content-set-button:hover,
.content-set-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Примеры работ портфолио 2 страница */
.content-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  /* margin: -15px; */
}

.content-items-el {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3-30);
}

/* Альтернатива */

/* .content-items {
  margin: -15px;
} */
/*.content-items-el {
  width: 370px;
  margin: 15px;
}*/

/* .content-items-el {
  width: calc((100%-60px) / 3);
} */

/* .content-items-el:not(:nth-child(3n)) {
  margin-right: 30px;
} */
/* .content-items-el:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.content-items-link {
  text-decoration: none;
}

.content-items-caption {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content-items-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.caption-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-bcg-color);
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts-el:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-contacts-address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}
