/* основной цвет текста  #757575 */
/* вторичный цвет текста - заголовки #212121 */
/* белый #FFFFFF */
/* белый цвет текста с прозрачностью 60% rgba(255, 255, 255, 0.6) */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* фон футера и героя #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-bcg-cl: #2f303a;
  --second-bcg-cl: #f5f4fa;
  --text-color-transparency: rgba(255, 255, 255, 0.6);
}

/* основа */
body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  background-color: #fff;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-padding-bottom {
  padding-bottom: 0;
}

/* Заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title,
.section-title {
  color: var(--title-text-color);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

/* лого шапки*/
.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;

  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.accent {
  color: var(--accent-color);
}

/* Навигация и контакты */
.header-flex,
.header-nav {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav-list {
  display: flex;
  margin-left: 93px;
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-list,
.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.header-icon:hover,
.header-icon:focus,
.header-nav-link.current {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-item {
  position: relative;
}

.header-nav-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

/* Герой */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка героя */
.hero-button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;

  color: var(--primary-white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-decoration: none;

  background-color: var(--accent-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-white-color);
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Особенности */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background: var(--second-bcg-cl);
  border-radius: 4px;
}

/* Чем мы занимаемся */
.work-list {
  display: flex;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item {
  position: relative;
}

.work-caption {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;

  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

/* Наша команда */
.command {
  background-color: var(--second-bcg-cl);
}

.command-list {
  display: flex;
  text-align: center;
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

.command-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.command-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-socials {
  display: flex;
  justify-content: center;
}

.command-el:not(:last-child) {
  margin-right: 10px;
}

.command-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #afb1b8;
  background-color: #ffffff;
  border-radius: 50%;
}

.command-link:hover,
.command-link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-icon {
  fill: currentColor;
}

/* Постоянные клиенты */
.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: #afb1b8;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопки портфолио 2 страница */
.content-set {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.content-set-el:not(:last-child) {
  margin-right: 8px;
}

.content-set-button {
  display: inline-block;
  padding: 6px 22px;

  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-decoration: none;
  text-align: center;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.content-set-button:hover,
.content-set-button:focus {
  color: var(--primary-white-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Примеры работ портфолио 2 страница */
.content-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.content-items-el {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3-30);
}

.content-items-el:hover,
.content-items-el:focus {
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Альтернатива */

/* .content-items {
  margin: -15px;
} */
/*.content-items-el {
  width: 370px;
  margin: 15px;
}*/

/* .content-items-el {
  width: calc((100%-60px) / 3);
} */

/* .content-items-el:not(:nth-child(3n)) {
  margin-right: 30px;
} */
/* .content-items-el:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */

.content-items-link {
  text-decoration: none;
}

.content-image-overlay {
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-items-link:hover .content-overlay {
  transform: translateX(0);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-overlay-text {
  position: absolute;
  min-width: 322px;
  min-height: 54px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-items-caption {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.content-items-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.caption-text {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bcg-cl);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer-logo-adress {
  display: block;
  margin-right: 70px;
}

.footer-contacts {
  margin-top: 20px;
}

.footer-contacts-el:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo {
  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer-contacts-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.footer-contacts-address {
  color: var(--primary-white-color);
  text-decoration: none;
  font-style: normal;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-title {
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list {
  display: flex;
}

.footer-el:not(:last-child) {
  margin-right: 10px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: currentColor;
}

/* Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
